output/

files
*.gz
raw
*.pth
.pytest_cache

.vscode
*.exe
*.exe.stackdump
*.o
*.zip
*.gz
*.tar
a.out
*.bak
*.bin
.cache/
bak
node_modules
db
# mac
.DS_Store
# pyenv
env
# ipynb
.ipynb_checkpoints
# deepLearning model
*.ckpt
*.pt
model
models
# deepLearning data
data
.data
out
processed
raw
node_modules
__pycache__
# Book build output

# eBook build output

*.zip
*.rar
*.tar
*.gz
*.mp3
# video
*.mp4
*.avi
